@model User
<form asp-action="Create" asp-controller="Home" method="post">
    <span asp-validation-for="Firstname"></span>
    <label asp-for="Firstname"></label>
    <input asp-for="Firstname">
    <span></span>
    <input asp-for="Lastname">
    <input asp-for="Email">
    <input asp-for="Password">
    <input asp-for="Age">
</form>